@using System.Runtime.InteropServices
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Internetowy System Służb Konduktorskich</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Internetowy System Służb Konduktorskich", "Index", "Home", new {}, new { @class = "navbar-brand"})
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="False" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">@Html.ActionLink("Strona Główna", "Index", "Home", new {}, new { @class = "nav-link"})</li>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">@Html.ActionLink("Służby konduktorskie", "Index", "Duty", new {}, new { @class = "nav-link"})</li>
                    <li class="nav-item dropdown">
                        <a class="nav-item dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                            Panel użytkownika
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("Zobacz profil", "Index", "Account", new {}, new { @class = "dropdown-item"})
                            @Html.ActionLink("Wiadomości", "Index", "Message", new {}, new { @class = "dropdown-item"})
                        </div>
                    </li>
                    if (User.IsInRole("Moderator"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-item dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="False">
                                Panel koordynatora
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @Html.ActionLink("Konduktorzy", "List", "Account", new {}, new { @class = "dropdown-item"})
                                @Html.ActionLink("Komunikaty", "List", "Notification", new {}, new { @class = "dropdown-item"})
                                @Html.ActionLink("Sużby", "List", "Duty", new {}, new { @class = "dropdown-item"})
                                @Html.ActionLink("Pojazdy", "List", "Vehicle", new {}, new { @class = "dropdown-item"})
                            </div>
                        </li>
                    }
                    <li class="nav-item">@Html.ActionLink("Wyloguj się", "LogOut", "Account", new {}, new { @class = "nav-link"})</li>
                }
                else
                {
                    <li class="nav-item">@Html.ActionLink("Logowanie", "Login", "Account", new {}, new { @class = "nav-link"})</li>
                    <li class="nav-item">@Html.ActionLink("Rejestracja", "Register", "Account", new {}, new { @class = "nav-link"})</li>
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Filip Kosmala</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", false)
</body>
</html>
