@model ISSK_2_0.Models.Conductor
@{
    ViewBag.Title = "Podsumowanie";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    @if (ViewBag.Status)
    {
        <div class="alert alert-success">
            <h4 class="alert-heading">Konduktor utworzony poprawnie!</h4>
            <hr/>
            <p>Nr legitymacji: <strong>@Html.DisplayFor(m => m.Code)</strong></p>
            <p>Imię i nazwisko konduktora: <strong>@Html.DisplayFor(m => m.ConductorData.FirstName) @Html.DisplayFor(m => m.ConductorData.LastName)</strong></p>
            <p>Adres email: <strong>@Html.DisplayFor(m => m.Email)</strong></p>
            <p>Data urodzenia: <strong>@Html.DisplayFor(m => m.ConductorData.BirthDate)</strong></p>
            <p>Miasto: <strong>@Html.DisplayFor(m => m.ConductorData.City)</strong></p>
            <h5 class="text-danger">Kod aktywacyjny: <strong>@Html.DisplayFor(m => m.ActivationCode)</strong></h5>
            <hr/>
            <p class="text-danger">UWAGA! Kod aktywacyjny należy podać konduktorowi!</p>
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <h4 class="alert-heading">Wystąpił błąd!</h4>
            <hr />
            <p>Podczas tworzenia konta konduktora wystąpił nieoczekiwany błąd!</p>
        </div>
    }
</div>