@model ISSK_2_0.Models.AccountView

@{
    ViewBag.Title = "Profil";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="@Model.Avatar" class="img-thumbnail" alt="@Model.FirstName @Model.LastName"/>
        </div>
        <div class="col-md-9 offset-1">
            <p class="h2">
                @Model.FirstName @Model.MiddleName @Model.LastName
            </p>
            <p>
                <strong>Adres Email:</strong> @Model.Email
            </p>
            @if (Model.PhoneNumber != null)
            {
                <p>
                    <strong>Numer telefonu:</strong> @Model.PhoneNumber
                </p>
            }
            @if (Model.City != null)
            {
                <p>
                    <strong>Miasto:</strong> @Model.City
                </p>
            }
            <p>
                <strong>Rola:</strong> @Html.DisplayFor(i => Model.RoleName[Model.RoleName.Count - 1])
            </p>
            @Html.ActionLink("Edytuj profil", "Edit", "Account", new { @class = "btn btn-primary" })
            @Html.ActionLink("Zmień hasło", "ChangePassword", "Account", new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
