@model IEnumerable<ISSK_2_0.Models.Set>

@{
    ViewBag.Title = "Lista składów";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p>
        <a href="@Url.Action("Create", "Set")" class="btn btn-success">
            <i class="fa fa-plus"></i>
            <span>
                Nowy skład
            </span>
        </a>
    </p>
    @if (Model == null)
    {
        <table class="table table-striped table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(m => m.SetId)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(m => m.Name)
                    </th>

                    <th scope="col"></th>

                </tr>
            </thead>

            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(i => item.SetId)
                            </td>
                            <td>
                                @Html.DisplayFor(i => item.Name)
                            </td>

                            <td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-info text-center">Brak utworzonych składów.</h3>
    }
</div>